<div>
    <div class="ds-flex mb-10">
        <div class="color-dblue font-13 mr-5">09:00am</div>
        <div class="patient-row">
            <div class="ds-flex">
                <img class="mr-20" src="../../../../assets/images/img1.svg" alt="">
                <div class="color-grey font-16 fw-500 m-auto">Guy Hawkins</div>
            </div>
            <img class="pointer" src="../../../../assets/images/more-dots.svg" alt="">
        </div>
    </div>
    <div class="ds-flex mb-10">
        <div class="color-dblue font-13 mr-5">10:40am</div>
        <div class="patient-row">
            <div class="ds-flex">
                <img class="mr-20" src="../../../../assets/images/img2.svg" alt="">
                <div class="color-grey font-16 fw-500 m-auto">Jacob Jones</div>
            </div>
            <img class="pointer" src="../../../../assets/images/more-dots.svg" alt="">
        </div>
    </div>
    <div class="ds-flex mb-10">
        <div class="color-dblue font-13 mr-5">12:00pm</div>
        <div class="patient-row">
            <div class="ds-flex">
                <img class="mr-20" src="../../../../assets/images/img3.svg" alt="">
                <div class="color-grey font-16 fw-500 m-auto">Darrell Steward</div>
            </div>
            <img class="pointer" src="../../../../assets/images/more-dots.svg" alt="">
        </div>
    </div>
    <div class="ds-flex mb-10">
        <div class="color-dblue font-13 mr-5">12:00pm</div>
        <div class="patient-row">
            <div class="ds-flex">
                <img class="mr-20" src="../../../../assets/images/img4.svg" alt="">
                <div class="color-grey font-16 fw-500 m-auto">Darrell Steward</div>
            </div>
            <img class="pointer" src="../../../../assets/images/more-dots.svg" alt="">
        </div>
    </div>
</div>