<div class="ds-flex mb-20">
        <img class="mr-15" src="../../../../assets/images/save-green.svg" alt="">
        <div>
            <span class="color-dblue font-16">There are 3 new ready reports for
                <strong>Tosin Odubela</strong>
            </span>
        </div>
    </div>
    <div class="ds-flex mb-20">
        <img class="mr-15" src="../../../../assets/images/info-green.svg" alt="">
        <div>
            <span class="color-dblue font-16">You have scheduled an interview with
                <strong>Michael Okoh</strong>
            </span>
        </div>
    </div>
    <div class="ds-flex mb-20">
        <img class="mr-15" src="../../../../assets/images/box-org.svg" alt="">
        <div>
            <span class="color-dblue font-16">You have Scheduled 3 appointment for 24th Feb, 2020</span>
        </div>
    </div>
    <div class="ds-flex mb-20">
        <img class="mr-15" src="../../../../assets/images/cancel-red.svg" alt="">
        <div>
            <span class="color-dblue font-16">There are 3 new ready reports for
                <strong>Chinaza Okereke</strong>
            </span>
        </div>
    </div>
    <div class="ds-flex mb-20">
        <img class="mr-15" src="../../../../assets/images/save-green.svg" alt="">
        <div>
            <span class="color-dblue font-16">There are 3 new ready reports for
                <strong>Tosin Odubela</strong>
            </span>
        </div>
    </div>